<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Recuperar Senha</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="form-container">

    <form (ngSubmit)="onSubmit()">
      <ion-avatar class="logo-avatar">
        <img src="../../../assets/imgs/logofianceflow.png" alt="Logo FinanceFlow">
      </ion-avatar>

      <h2 class="center-text">Esqueceu sua senha?</h2>
      <p class="center-text">Insira seu e-mail cadastrado para receber um link de recuperação.</p>

      <ion-input
        [(ngModel)]="email"
        name="email"
        type="email"
        label="E-mail"
        label-placement="floating"
        fill="outline"
        placeholder="Digite seu e-mail"
        required>
        <ion-icon name="mail-outline" slot="end"></ion-icon>
      </ion-input>

      <ion-button expand="full" type="submit" [disabled]="loading">
        <ion-spinner *ngIf="loading" slot="start"></ion-spinner>
        Enviar Link
      </ion-button>
    </form>

    <h5 class="center-text">
      Lembrou a senha? <a routerLink="/login">Faça login</a>
    </h5>
  </div>
</ion-content>
