<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
  <form (ngSubmit)="onLogin()">
    <ion-avatar class="logo-container">
      <img src="../../../assets/imgs/logofianceflow.png" alt="Logo">
    </ion-avatar>

    <h2>Bem-vindo de volta!</h2>

    <!-- Campo de E-mail -->
    <ion-input
      [(ngModel)]="email"
      name="email"
      type="text"
      label="E-mail"
      label-placement="floating"
      fill="outline"
      placeholder="Digite seu e-mail (exemplo@dominio.com)"
      required>
      <ion-icon name="mail-outline" slot="end"></ion-icon>
    </ion-input>

    <!-- Campo de Senha -->
    <ion-input
      [(ngModel)]="password"
      name="password"
      type="password"
      label="Senha"
      label-placement="floating"
      fill="outline"
      placeholder="Digite sua senha"
      required>
      <ion-icon name="lock-closed-outline" slot="end"></ion-icon>
    </ion-input>

    <!-- Link para recuperação de senha -->
    <div class="esqueceusenha">
      <a href="../reset-password">Esquece a senha?</a>
    </div>

    <!-- Botão de Login -->
    <ion-button expand="full" type="submit">Entrar</ion-button>

    <!-- Link para Registro -->
    <h5>Não tem Login? <a href="../register">Crie uma Conta</a></h5>
  </form>
</ion-content>
