<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="dashboard">
      <ion-icon name="stats-chart"></ion-icon>
      <ion-label>Dashboard</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="metas">
      <ion-icon name="ribbon"></ion-icon>
      <ion-label>Metas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="transacoes">
      <ion-icon name="wallet"></ion-icon>
      <ion-label>Transação</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="investimentos">
      <ion-icon name="cash"></ion-icon>
      <ion-label>Investimentos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="bot">
      <ion-icon name="chatbubbles"></ion-icon>
      <ion-label>Bot</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
